.App{
    height: 100%;
    padding-top: 10px;
    background-color: #1b1b43;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor-calculadora{
    width: 500px;
    height: 600px;
    padding: 14px;
    background-color: #99c9ff;
    border-radius: 20px;
    border: 5px solid white;
    margin-top: 2em;
}

.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulos-formulas-contenedor{
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    font-family: Lato, sans-serif;
}

.titulos-formulas{
    border: 2px solid white;
    background-color: #99c9ff;
    color: #1b1b43;
    border-radius: 20px;
    padding: 3px;
    cursor: pointer;
}
.titulos-formulas:hover{
    background-color: #095015;
}
li{
    list-style: none;
}